.top-links li > a,
.content p > a,
.content li > a,
.content h3 > a,
.content h4 > a,
.content table > a,
.kneeler li > a,
.copyright p > a,
.subnav li > a,
.deepnav li a,
#slider-articles .carousel-caption a,
.card-block a { position: relative; }

.top-links li > a:before,
.content p > a:before,
.content li > a:before,
.content h3 > a:before,
.content h4 > a:before,
.content table > a:before,
.kneeler li > a:before,
.copyright p > a:before,
.subnav li > a:before,
.subnav .active a:before,
.deepnav li a:before,
#slider-articles .carousel-caption a:before,
.card-block a:before { 
	content: ""; position: absolute; width: 100%; height: 1px; bottom: 0; left: 0; 
	background-color: #000; visibility: hidden; -webkit-transform: scaleX(0); transform: scaleX(0); 
	-webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; }

.top-links li > a:hover:before,
.content p > a:hover:before,
.content li > a:hover:before,
.content h3 > a:hover:before,
.content h4 > a:hover:before,
.content table > a:hover:before,
.kneeler li > a:hover:before,
.copyright p > a:hover:before,
.subnav li > a:hover:before,
.subnav .active a:before,
.deepnav li a:hover:before,
.deepnav li.active a:before,
#slider-articles .carousel-caption a:hover:before,
.card-block a:hover:before { visibility: visible; -webkit-transform: scaleX(1); transform: scaleX(1); }

a,
a img,
button,
.btn,
.ease,
.grow,
.navbar,
header,
header img,
header .top-links,
.navbar-default .navbar-nav > li > a,
.logo-details,
.core-name,
#slider-articles .carousel-caption a { transition: all 0.5s ease; }

a i,
.img-switcher img { transition: all 0.2s ease; }

/*.fade:hover { opacity: 0.3; }*/
.img-switcher:hover img,
.grow:hover { transform: scale(1.1); }

header.shrink { 
	transition: all 0.5s ease; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4); }	

.subnav,
.slide-panel {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4); }

.grayscale { filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); }
.grayscale { -webkit-filter: grayscale(100%); filter: gray; }
.grayscale:hover { -webkit-filter: grayscale(0%); filter: none; }

/*.video-holder a:hover img { opacity: 1; -webkit-filter: grayscale(0%); filter: none; }*/

.slide-panel,
a.slide-expander,
body.slide-expanded { transition: right 0.3s ease-in-out 0s;
	-webkit-transition: right 0.3s ease-in-out 0s;
	-moz-transition: right 0.3s ease-in-out 0s;
	-o-transition: right 0.3s ease-in-out 0s; }	

/* Social Media */
.social-media li > a i,
.social-media li > a:hover i { transition: all 0.1s ease; }
.social-media li > a:hover:before { visibility: hidden !important; }

/* Form Item */
.form-item label,
.form-item input,
.form-item textarea { transition: all 150ms ease 0s; }
.form-item input:valid + label,
.form-item input:focus + label,
.form-item textarea:valid + label,
.form-item textarea:focus + label { transform: translateY(-20px) scale(0.75); }
.form-item label { transform: translateY(0px) scale(1); transform-origin: left center 0; }


/* Preventives */
.btn:hover:before { visibility: hidden !important; }