/**/
a.slide-expander { display: block; height: 180px; margin-right: 0; position: absolute; right: 0; top: 0; width: 60px; z-index: 12; }
a.slide-expander:hover { cursor: pointer; }
a.slide-expander.fixed { position: fixed; }

.slide-expanded a.slide-expander.fixed { right: 20em; }
.slide-panel { background: #2d2f33; display: block; height: 100%; overflow: auto; position: fixed; }
.slide-panel { right: -20em; font-size: 15px; top: 0; width: 20em; z-index: 2000; }
.slide-expanded .slide-panel { right: 0; }

body.slide-expanded { margin-left: 0; }