/* 240 */
@media (min-width: 240px) {
	h1 { font-size: 40px; line-height: 48px; margin: 0 0 20px; }
	h2 { font-size: 32px; line-height: 40px; margin: 0 0 20px; }
	h3 { font-size: 24px; line-height: 32px; }
	h4 { font-size: 20px; line-height: 28px; }
	
	.col-lg-1  { float: left; width: 100%; }
	.col-lg-2  { float: left; width: 100%; }
	.col-lg-3  { float: left; width: 100%; }
	.col-lg-4  { float: left; width: 100%; }
	.col-lg-5  { float: left; width: 100%; }
	.col-lg-6  { float: left; width: 100%; }
	.col-lg-7  { float: left; width: 100%; }
	.col-lg-8  { float: left; width: 100%; }
	.col-lg-9  { float: left; width: 100%; }
	.col-lg-10 { float: left; width: 100%; }
	.col-lg-11 { float: left; width: 100%; }
	.col-lg-12 { float: left; width: 100%; }
	
	.container { width: 100%; }	
	.container.width-1100 { width: 100%; }
	.container.width-1024 { width: 100%; }
	.container.width-960  { width: 100%; }
	
	.block { padding: 50px 0; }
	.form-control { margin-bottom: 15px; }
	.navbar-nav > li { margin-left: 0; }
	.column { margin-bottom: 30px; }
	.blog-img { margin-bottom: 20px; padding-left: 0; padding-right: 0; }
	.blog-excerpt { padding-left: 0; padding-right: 0; }
	.logo-holder td { display: block; }
	.copyright { text-align: center; }
	.copyright p { margin-bottom: 20px; }
	.align-right { text-align: center; }
	.block .img-responsive,
	.content .img-responsive { width: 100%; }
	.about-us .banner { padding: 40px 0; }
	
	.for-desktop { display: none; }
	.for-mobile  { display: block; }
	
	.slide-panel,
	.slide-panel p,
	.slide-panel h4,
	.slide-expanded .slide-expander.fixed { display: none; }
	
	.top-links { display: none; }
	.home header.shrink .header-left img,
	.home header .header-left img { height: auto; }
	header .header-left img { height: auto; }
	
	.subnav .navbar-nav { text-align: left; }
	.subnav .navbar-nav > li { float: left; display: inline-block; }
	.subnav .navbar-nav > li { margin: 5px 0 5px; font-size: 16px; width: 100%; }
	.subnav-logo { display: none; visibility: hidden; }
	.subnav .navbar-header { display: block; }
	
	#slider-history .carousel-caption { padding: 15px 10px; margin: 20px; left: 0; right: 0; }
	#slider-history .carousel-caption h2 { font-size: 16px; line-height: 24px; margin: 0; }
	#slider-history .carousel-caption h5 { display: none; }
	
	.core-holder { margin-left: 50px; margin-right: 50px; }
	.core-holder a { cursor: default; }
	.core-holder a:hover .core-name { opacity: 0; }
	.core-holder a.collapsed:hover img.off { -webkit-filter: grayscale(0); filter: grayscale(0); }
	
	.members .row { margin-bottom: 0; }
	.members .social-media li { font-size: 32px; }
	
	.md-modal h3 { font-size: 20px; line-height: 28px; }
	.md-modal p { font-size: 14px; line-height: 22px; }
	
	#slider-partners .item-img { min-height: 580px; max-height: 0; }
	#slider-partners .carousel-caption { left: 5%; right: 5%; text-align: center; }
	#slider-partners .carousel-indicators { left: 0; right: 0; width: 100%; display: none; }
	
	.board .fa { line-height: 45px; }
	
	.our-customers .grid-item { width: 100%; }
	.our-customers .grid-item--width2 { width: 100%; }
	
	.btn-lg { white-space: normal; }
	
	#slider-articles { margin-top: 150px; }
	#slider-articles .carousel-caption { padding-bottom: 0; left: 15px; right: 15px; }
	#slider-articles .carousel-caption h1 { font-size: 24px; line-height: 32px; }
	#slider-articles .carousel-caption h4 { margin-bottom: 0; }
	#slider-articles .carousel-caption .excerpt { display: none; }
}

/* 320 */
@media (min-width: 320px) {
	.slide-panel { right: -110px; width: 110px; display: block; }
	.slide-panel .fa { font-size: 48px; }
	.slide-expanded .slide-expander.fixed { right: 110px; display: block; }
	
	#slider-main { margin-top: 160px; }
	#slider-main .item-img { min-height: 400px; }
	#slider-main .icon-down,
	#slider-main .carousel-indicators { display: none; }
	#slider-main .carousel-caption { left: 10%; padding-bottom: 20px; right: 10%; }
	
	.carousel-caption h4 { font-size: 14px; line-height: 22px; }
	.carousel-caption .btn { font-size: 14px; height: 40px; line-height: 22px; padding: 5px 20px; }
}

/* 360 */
@media (min-width: 360px) {
	#slider-history .carousel-caption { padding: 23px; }
	
	.btn-lg { white-space: pre; }
}

/* 480  */
@media (min-width: 480px) {
	.home header .header-left img { height: 60px; }
	
	#slider-history .carousel-caption { margin: 40px; left: 0; right: 0; }
	#slider-history .carousel-caption h2 { font-size: 24px; line-height: 32px; margin: 0; }
	#slider-history .carousel-caption h5 { display: none; }
	
	.core-holder { margin-left: 100px; margin-right: 100px; }
	
	#slider-partners .item-img { min-height: 520px; max-height: 0; }
	
	#slider-articles { margin-top: 110px; }
	#slider-articles .carousel-caption .excerpt { display: block; }
	
	#slider-main { margin-top: 110px; }
}
/* 640  */
@media (min-width: 640px) {
	#slider-history .carousel-caption { padding: 24px; margin: 60px 100px; left: 0; right: 0; }
	#slider-history .carousel-caption h2 { font-size: 24px; line-height: 32px; margin: 0; }
	#slider-history .carousel-caption h5 { display: none; }
	
	.core-holder { margin-left: 150px; margin-right: 150px; }
	
	.md-modal h3 { font-size: 32px; line-height: 40px; }
	.md-modal p { font-size: 16px; line-height: 24px; }
	
	#slider-partners .item-img { min-height: 460px; max-height: 0; }
	
	.board .fa { line-height: 80px; }
	.board span.round-tabs { height: 80px; line-height: 80px; width: 80px; }
	
	#slider-articles .carousel-caption { right: 40%; }
	#slider-articles .carousel-caption h4 { margin-bottom: 30px; }
}

/* 768 */
@media (min-width: 768px) {
	.col-lg-1  { float: left; width: 8.33333%; }
	.col-lg-2  { float: left; width: 16.6667%; }
	.col-lg-3  { float: left; width: 25%; }
	.col-lg-4  { float: left; width: 33.3333%; }
	.col-lg-5  { float: left; width: 41.6667%; }
	.col-lg-6  { float: left; width: 50%; }
	.col-lg-7  { float: left; width: 58.3333%; }
	.col-lg-8  { float: left; width: 66.6667%; }
	.col-lg-9  { float: left; width: 75%; }
	.col-lg-10 { float: left; width: 83.3333%; }
	.col-lg-11 { float: left; width: 91.6667%; }
	.col-lg-12 { float: left; width: 100%; }
	
	h1 { font-size: 48px; line-height: 56px; margin: 0 0 30px; }
	h2 { font-size: 40px; line-height: 48px; margin: 0 0 30px; }
	h3 { font-size: 32px; line-height: 40px; }
	h4 { font-size: 24px; line-height: 32px; }
	
	.block { padding: 50px; }
	.form-control { /*margin-bottom: 0;*/ }
	.column { margin-bottom: 0; }
	.blog-img { margin-bottom: 0; padding-left: 15px; padding-right: 15px; }
	.blog-excerpt { padding-left: 15px; padding-right: 15px; }
	.logo-holder td { display: table-cell; }
	.copyright { text-align: left; }
	.copyright p { margin-bottom: 0; }
	.align-right { text-align: right; }
	.block .img-responsive,
	.content .img-responsive { width: auto; }
	.about-us .banner { padding: 140px 0; }
	
	.for-desktop { display: block; }
	.for-mobile  { display: none; }
	
	.slide-panel { right: -660px; width: 660px; }
	.slide-panel p,
	.slide-panel h4 { display: block; }
	.slide-panel .fa { font-size: 32px; }
	.slide-expanded .slide-expander.fixed { right: 660px; }
	
	#slider-main { margin-top: 100px; }
	#slider-main .carousel .item-img { min-height: 440px; }
	
	.carousel-caption h4 { font-size: 20px; line-height: 28px; }
	.carousel-caption .btn { font-size: 24px; height: 60px; line-height: 32px; padding: 10px 30px; }
	
	.home header.shrink .header-left img,
	.home header .header-left img { height: 45px; }
	
	header .navbar-nav > li { margin-left: 10px; }
	header .navbar { margin-top: 10px; }
	
	.subnav .navbar-nav { text-align: right; }
	.subnav .navbar-nav > li { float: none; display: inline-block; }
	.subnav .navbar-nav > li { margin: 0 0 0 10px; font-size: 18px; width: auto; }
	.subnav-logo { visibility: visible; }
	.subnav .navbar-header { display: none; }
	
	#slider-history .carousel-caption { padding: 20px; margin: 70px 60px; }
	#slider-history .carousel-caption h2 { font-size: 40px; line-height: 48px; }
	
	.core-holder { margin-left: 0; margin-right: 0; }
	.core-holder a { cursor: pointer; }
	.core-holder h4 { font-size: 16px; line-height: 24px; }
	.core-holder a:hover .core-name { opacity: 1; }
	.core-holder a.collapsed:hover img.off { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
	.core-holder .core-name { padding-top: 25px; }
	
	.members .row { margin-bottom: 40px; }
	.members .social-media li { font-size: 24px; }
	
	#slider-partners .item-img { min-height: 400px; max-height: 0; }
	#slider-partners .carousel-caption { left: 10%; right: 10%; text-align: left; }
	#slider-partners .carousel-caption img { max-height: 100%; max-width: 100%; }
	#slider-partners .carousel-indicators { left: 10%; right: 10%; width: 80%; display: block; }
	
	.board .fa { line-height: 100px; }
	.board span.round-tabs { height: 100px; line-height: 100px; width: 100px; }
	
	.our-customers .grid-item { width: 33.33%; }
	.our-customers .grid-item--width2 { width: 66.66%; }
	
	#slider-articles .carousel-caption { padding-bottom: 0; left: 30px; right: 30px; }
	#slider-articles .carousel-caption h1 { font-size: 48px; line-height: 58px; }

	.mailing-list .search-email { width: 60%; }
	.mailing-list .search-button { width: 40%; }
}

/* max 950 */
@media (max-width: 950px) {
	#slider-main .carousel { margin-top: 90px; }
	
	header .navbar { margin-top: -50px; }
	header .navbar-header { float: none; margin-top: 10px; }
    header .navbar-toggle { display: block; }
    header .navbar-nav { float: none !important; }
	
    header .navbar-collapse.collapse { display: none !important; }
	header .navbar-collapse.collapse.in { display: block !important; }
	
	header .header-left,
	header .header-right { width: 100%; }
}

/* max 380 */
@media (max-width: 380px) {
	header .navbar { margin-top: 0; }	
	#slider-main { margin-top: 150px; }
}

/* 960 */
@media (min-width: 960px) {
	.navbar-nav > li > a { padding: 10px; }
	.top-links { display: block; }
	
	#slider-main { margin-top: 110px; }
	#slider-main .carousel-control { display: none; }
	#slider-main .carousel-caption { padding-bottom: 160px; }
	#slider-main .carousel-indicators { display: block; }
	#slider-main .carousel-indicators { left: 40%; width: 80%; }
	#slider-main .item-img { min-height: 560px; }
	#slider-main .icon-down { bottom: 20px; display: block; }
	
	#slider-history .carousel-caption { margin: 40px 120px; }
	#slider-history .carousel-caption h2 { font-size: 32px; line-height: 40px; margin: 0 0 20px; }
	#slider-history .carousel-caption h5 { display: block; font-size: 14px; line-height: 22px; }
	
	.core-holder h4 { font-size: 24px; line-height: 32px; }
	.core-holder .core-name { padding-top: 40px; }
	
	#slider-partners .item-img { min-height: 0; max-height: 320px; }
	
	#slider-articles .carousel-caption { padding-bottom: 0; left: 40px; right: 40%; }
}

/* 1024 */
@media (min-width: 1024px) {
	.container.width-960  { width: 960px; }	
	header .header-left img { height: 60px; }
	.home header.shrink .header-left img { height: 50px; }
	.home header .header-left img { height: 60px; }
	
	.slide-panel { right: -720px; width: 720px; }
	.slide-expanded .slide-expander.fixed { right: 720px; }
	
	#slider-main .item-img { min-height: 560px; }
	#slider-main .carousel-caption { left: 10%; right: 10%; padding-bottom: 160px; }
	#slider-main .carousel-indicators { left: 50%; width: 60%; }
	
	.carousel-caption h4 { font-size: 20px; line-height: 28px; }
	
	.subnav .navbar-nav > li { margin: 0 0 0 30px; }
	
	#slider-history .carousel-caption { margin: 40px 120px; }

	.mailing-list .search-email { width: 75%; }
	.mailing-list .search-button { width: 25%; }
}

/* 1100 */
@media (min-width: 1100px) {
	.container { width: 1260px; }
	.container.width-1100 { width: 1100px; }
	.container.width-1024 { width: 1024px; }
	
	.home header .header-left img { height: 60px; }
	.navbar-nav > li > a { padding: 10px 20px; }
	
	.subnav .navbar-nav { text-align: center; }
	.subnav .navbar-nav > li { margin: 0 30px; }
	
	#slider-main .icon-down { bottom: 20px; }
	#slider-main .item-img { min-height: inherit; }
	#slider-main .carousel-caption { left: 20%; right: 20%; }
	
	#slider-history .carousel-caption { padding: 20px; margin: 90px 0; left: 10%; right: 10%; }
	#slider-history .carousel-caption h2 { font-size: 40px; line-height: 48px; margin: 0 0 30px; }
	#slider-history .carousel-caption h5 { display: block; }
	
	#slider-articles .carousel-caption { padding-bottom: 40px; }
}

/* 1360 */
@media (min-width: 1360px) {	
	#slider-history .carousel-caption { padding: 30px; margin: 100px 0; }
}

/* 1360 */
@media (min-width: 1360px) {	
	#slider-history .carousel-caption { padding: 20px 40px; left: 12%; right: 12%; }
}

/* 1600 */
@media (min-width: 1600px) {	
	#slider-history .carousel-caption { padding: 40px 100px; left: 20%; right: 20%; }
	#slider-history .carousel-caption h5 { font-size: 18px; line-height: 26px; }
}

/* 1680 */
@media (min-width: 1680px) {	
	#slider-history .carousel-caption h5 { font-size: 20px; line-height: 28px; }
}

/* 1920 */
@media (min-width: 1920px) {	
	#slider-history .carousel-caption { padding: 60px 100px; }
	#slider-history .carousel-caption h2 { font-size: 50px; line-height: 58px; margin: 0 0 50px; }
	#slider-history .carousel-caption h5 { font-size: 22px; line-height: 30px; }
}