/* Default */
body { font-size: 16px; line-height: 24px; font-weight: 300; font-family: 'Roboto', sans-serif; color: black; }

h1 { font-size: 48px; line-height: 56px; font-weight: 300; font-family: 'Roboto Slab', serif; margin: 0 0 30px; }
h2 { font-size: 40px; line-height: 48px; font-weight: 300; font-family: 'Roboto Slab', serif; margin: 0 0 30px; }
h3 { font-size: 32px; line-height: 40px; font-weight: 300; font-family: 'Roboto Slab', serif; margin: 0 0 20px; }
h4 { font-size: 24px; line-height: 32px; font-weight: 300; font-family: 'Roboto Slab', serif; margin: 0 0 20px; }
h5 { font-size: 16px; line-height: 24px; font-weight: 300; font-family: 'Roboto Slab', serif; margin: 0; }
p  { font-size: 16px; line-height: 24px; font-weight: 300; margin: 0 0 20px; }
li { font-size: 16px; line-height: 24px; font-weight: 300; margin: 0; }

a 		 { outline: none !important; color: #00a5d8; }
a:hover  { outline: none !important; text-decoration: none; color: black; }
a:focus  { outline: none !important; text-decoration: none; color: #00a5d8; }
a:active { outline: none !important; text-decoration: none; }

a img { outline: none; }
a:hover img { opacity: 0.8; }

form,
input,
textarea,
button { font-family: 'Roboto', san-serif; font-weight: 300; }

/* Preventives and Overwrites */
body.modal-open { padding: 0 !important; overflow: visible; }

.container 			  { width: 1260px; }
.container.width-1100 { width: 1100px; }
.container.width-1024 { width: 1024px; }
.container.width-960  { width: 960px; }

/* Form Control */
.form-control { border-color: #ccc; border-radius: 3px; box-shadow: 0 0 0; color: black; }
.form-control { height: 32px; font-size: 16px; line-height: 24px; padding: 6px 12px; }

.input-group { margin-top: 5px; }
.input-group .btn { padding-left: 20px; padding-right: 20px; }
.input-group .form-control { height: 36px; background: white; border-color: #999; border-left-color: #ff7c2e; }

/* Buttons */
.btn { padding: 4px 10px; font-weight: 300; font-size: 16px; }
.btn { border-width: 2px; border-style: solid; border-radius: 3px; line-height: 24px; }
.btn-default { background: #ff7c2e; color: white; border-color: #ff7c2e; }
.btn-default:hover,
.btn-default.focus,
.btn-default:focus { background: transparent; color: #ff7c2e; border-color: #ff7c2e; }
.btn-secondary { background: #00a5d8; color: white; border-color: #00a5d8; }
.btn-secondary:hover,
.btn-secondary.focus,
.btn-secondary:focus { background: transparent; color: #00a5d8; border-color: #00a5d8; }
.btn-lg { font-size: 24px; padding: 15px 25px; height: auto; }
.btn-xl { font-size: 32px; padding: 15px 25px; height: auto; }
.btn-dead { border: 2px solid #CCC; cursor: default; color: black; background: white; }
.btn-disable { border: 2px solid #CCC; cursor: default; color: black; background: #CCC; }

/* Browse */
.btn-file { position: relative; overflow: hidden; }
.btn-file input[type=file] { position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; }
.btn-file input[type=file] { text-align: right; filter: alpha(opacity=0); opacity: 0; outline: none; }
.btn-file input[type=file] { background: white; cursor: inherit; display: block; font-size: 100px; }

.icon-close { color: #CCC; }
.icon-close:hover { color: #666; }

/* Prefixes */
.bold { font-weight: bold; }
.italic { font-style: italic; }
.slab { font-family: 'Roboto Slab', serif; }
.full-width { width: 100% !important; }
.encircle { border: 4px solid black; padding: 20px; border-radius: 100%; display: inline-block; margin-bottom: 20px; }
.content.shade { background-color: #EEE; }
.underline { text-decoration: underline; }

.relative { position: relative; }
.relative .anchor-links { position: absolute; top: -90px; }

img.pull-left  { margin: 0 30px 30px 0; }
img.pull-right { margin: 0 0 30px 30px; }

.align-center 	{ text-align: center; }
.align-left 	{ text-align: left; }
.align-right 	{ text-align: right; }

.color-red 		{ color: #f32103; }
.color-blue		{ color: #0083cc; }
.color-green	{ color: #1fba3c; }
.color-orange 	{ color: #ff7c2e; }
.color-d-green 	{ color: #007809; }
.color-l-blue 	{ color: #00a5d8; }
.color-yellow 	{ color: #ffcf02; }

.list-dotted { padding: 0; margin: 0; }
.list-dotted li { line-height: 40px; border-bottom: 1px dotted #999; list-style: none; }

.block { padding: 50px; color: white; }
.block .form-control { border: 0; border-radius: 3px; font-size: 24px; line-height: 32px; }
.block .form-control { height: 60px; padding: 10px 20px; }
.block .btn { font-size: 24px; line-height: 32px; height: 60px; padding: 10px 30px; }
.block .btn-default:hover { background-color: transparent; border-color: white; color: white; }
.block .encircle { border-color: white; }

.block-primary { background: #ff7c2e; }
.block-primary .btn-default:focus,
.block-primary .btn-default { background-color: #00a5d8; border-color: #00a5d8; color: white; }

.block-secondary { background: #00a5d8; }
.block-secondary .btn-default:focus,
.block-secondary .btn-default { background-color: #ff7c2e; border-color: #ff7c2e; color: white; }

.bottomless { margin-bottom: 0 !important; padding-bottom: 0 !important; }
.topless { margin-top: 0 !important; padding-top: 0; }
.spaceless { margin: 0; padding: 0; }
.paddless { padding: 0; }

/* Header */
header { background: url(../images/bg-pallette.png) top no-repeat white; padding: 20px 0; 
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5); }
header .header-left { padding-top: 5px; }
header .header-left img { height: 60px; }
header .top-links { height: 24px; opacity: 1; }

/* Fixed Header */
.fixed header { position: fixed; z-index: 1000; width: 100%; top: 0; }
.fixed header.shrink .top-links { height: 0; opacity: 0; }
.fixed header.shrink .header-left img { height: 50px; }

/* Top Links */
.top-links ul { text-align: right; padding: 0; margin: 0; }
.top-links li { display: inline-block; margin-left: 20px; font-size: 14px; }

/* Navigation Bar */
.navbar { border: 0; margin-bottom: 0; min-height: inherit; border-radius: 0;  margin-top: 10px; }
.navbar-default { background-color: transparent; }
.navbar-nav > li { font-family: 'Roboto Slab', serif; margin-left: 10px; }
.navbar-nav > li > a { padding: 10px 20px; border-radius: 3px; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form { border: 0; }
.navbar-default .navbar-nav > li > a { color: black; }
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.collapse,
.navbar-default .navbar-nav > li > a.collapsed:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover { background-color: #ff7c2e; color: white; }
.navbar-default .navbar-nav > li > a.collapsed { background: transparent; color: black; }

/* Collapse */
.navdown { margin-top: 20px; }
.navdown ul { padding: 0 20px 0 0; margin: 0; }
.navdown li { list-style: none; border-bottom: 1px dotted #CCC; font-size: 14px; padding: 10px 0; }
.navdown li a { color: #00a5d8; }
.navdown li a:hover { color: black; }
.navdown li p { font-size: 14px; line-height: 22px; margin-bottom: 0; }
.navdown img { max-width: 50px; }
.navdown img.pull-left  { margin: 0 15px 0 0; }

/* Conditions */
.navbar .for-desktop .navdown { padding: 0 20px; }
.navbar .for-mobile  .navdown { padding: 0 0 20px; }

.partners .content { padding: 40px 0 60px; }
.partners .content h1 { margin-bottom: 20px; }
.partners .content .row { margin-bottom: 20px; }

.leadership .content { padding: 40px 0 60px; }
.leadership .content h1 { margin-bottom: 20px; }
.leadership .content .row { margin-bottom: 20px; }

/* Sub Navigation */
.subnav { background: #ff7c2e; z-index: 100; position: relative; }
.subnav .navbar-header a { color: white; font-weight: bold; padding: 20px 0; display: block; }
.subnav .navbar-header a:hover { color: white; }
.subnav .navbar-toggle { border: 0; border-radius: 0; float: none; margin: 0; padding: 0; }
.subnav .navbar-toggle:focus,
.subnav .navbar-toggle:hover { background-color: transparent; }
.subnav .navbar { margin: 0; }
.subnav .navbar li a:before,
.subnav .navbar .active a:before { background-color: white; }
.subnav .navbar-collapse { box-shadow: 0 0 0; padding: 20px 0; }

.subnav .navbar-nav { float: none; text-align: center; }
.subnav .navbar-nav > li { float: none; display: inline-block; }
.subnav .navbar-nav > li { margin: 0 30px; font-size: 18px; line-height: normal; }
.subnav .navbar-nav > li > a { border-radius: 0; padding: 0; color: white; }
.subnav .navbar-nav > li > a:hover { color: white; }
.subnav .navbar-nav > .active a { font-weight: bold; }

.subnav #subnav-collapse .nav { margin: 0; }

/* Sub Navigation: Logo */
.subnav-logo { position: absolute; top: 12px; left: 25px; height: 40px; z-index: 1; }
.subnav-logo img { height: 40px; }

/* Content */
.content { padding: 60px 0 0; background-color: white; }
.content .row { margin-bottom: 60px; }
.content h3 > a { color: black; }
.content h3 > a:hover { color: #ff7c2e; }
.content h3 > a:before { background-color: #ff7c2e; }

.content.paralax { background-color: #333; background-attachment: fixed; background-position: center; }
.content.paralax h1,
.content.paralax h2,
.content.paralax h3,
.content.paralax h4,
.content.paralax h5,
.content.paralax p { color: white; }
.content.paralax .btn-default:hover { border-color: white; color: white; }

/* Logo Holder */
.logo-holder { margin-bottom: 30px; width: 100%; }
.logo-holder td { padding: 5px; }
.logo-item { position: relative; }
.logo-item:hover .logo-details,
.logo-item:hover .logo-overlay { opacity: 1; }
.logo-details { transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }
.logo-details { position: absolute; top: 50%; left: 50%; opacity: 0; z-index: 20; }
.logo-details img { margin-bottom: 15px; max-width: 200px; }
.logo-details a:hover { color: white; }
.logo-overlay { position: absolute; width: 100%; height: 100%; background: rgba(0,0,0,0.5); opacity: 0; z-index: 10; }

/* Blog */
.blog-item { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #E1E1E1; }
.blog-column { margin-bottom: 30px; }
.blog-excerpt h3 a { color: #00a5d8; }
.blog-excerpt h3 a:hover { color: black; }
.blog-excerpt h3 a:before { background: black; }
.blog-excerpt h3 span { font-size: 18px; position: relative; top: -10px; color: #999; }
.blog-excerpt h4 span { font-size: 14px; position: relative; top: -5px; color: #999; }
.blog-excerpt .img-responsive { width: 100% !important; }

/* Kneeler */
.kneeler { padding: 60px 0; background-color: white; }
.kneeler li { font-size: 14px; }
.kneeler address { font-size: 14px; line-height: 22px; }

/* Contact Information */
.contact-info img { margin-bottom: 20px; }
.contact-info address { position: relative; padding-left: 40px; }
.contact-info .fa { position: absolute; left: 10px; top: 0; color: #999; font-size: 24px; }

/* Footer */
footer { background: url(../images/bg-pallette.png) top no-repeat white; padding: 40px 0; }
footer p { margin: 0; font-size: 14px; line-height: 22px; }
footer span { margin: 0 10px; color: #00a5d8; }
footer .social-media li { font-size: 32px; }

/* Social Media */
.social-media { padding: 0; margin: 0; }
.social-media li { display: inline-block; line-height: normal; margin-right: 7px; }
.social-media.align-right li { margin-left: 7px; margin-right: 0; }
.social-media a { color: #999; }
.social-media a.fb:hover { color: #3765a3; }
.social-media a.tw:hover { color: #00b6f1; }
.social-media a.in:hover { color: #0274b3; }
.social-media a.yt:hover { color: #dd1a2a; }

/* Video Holder */
.video-holder { background: url(../images/vid-holder.jpg) center; background-size: cover; }
.video-holder { position: relative; padding: 140px 0; text-align: center; }

/* Slide Panel */
.slide-expander { display: block; height: 180px; margin-right: 0; }
.slide-expander { position: fixed; right: 0; top: 40%; width: 60px; z-index: 1000; }
.slide-expander:hover { cursor: pointer; }
.slide-expander:hover img { opacity: 1; }
.slide-expander.fixed { position: fixed; }
.slide-expanded .slide-expander.fixed { right: 720px; }
.slide-expanded .slide-panel { right: 0; }

.slide-panel { background: #f1f1f1; display: block; height: auto; overflow: auto; position: fixed; }
.slide-panel { right: -720px; top: 40%; width: 720px; z-index: 1000; padding: 20px; }
.slide-panel p { font-size: 14px; line-height: 22px; }
.slide-panel .fa { font-size: 32px; margin-bottom: 10px; }
.slide-panel a:hover,
.slide-panel a:hover .fa { color: #ff7c2e; }

/* Carousel */
.carousel-control { width: 10%; }
.carousel-control.right,
.carousel-control.left { background: none; }
.carousel-control,
.carousel-caption { z-index: 30; }

.carousel-inner > .item > a > img,
.carousel-inner > .item > img { width: 100%; }

.carousel-caption { left: 20%; padding-bottom: 160px; right: 20%; text-align: left; }
.carousel-caption .btn { font-size: 24px; height: 60px; line-height: 32px; padding: 10px 30px; }
.carousel-caption .btn-default { background: #00a5d8; border-color: #00a5d8; }
.carousel-caption .btn-default:hover { background: transparent; border-color: white; color: white; }
.carousel-caption h4 { font-family: 'Roboto', sans-serif; margin-bottom: 30px; }

/* Slider: History */
#slider-history .carousel-caption { background: rgba(0, 0, 0, 0.8); padding: 20px; }
#slider-history .carousel-caption { top: 0; bottom: 0; margin: 90px 0; text-shadow: 0 0 0; }

/* Slider: Main */
#slider-main { background: url(../images/bg-slider.png) top; margin-top: 110px; }
#slider-main .carousel-caption img { margin-bottom: 20px; max-height: 140px; }

#slider-main .carousel-indicators { bottom: 80px; }
#slider-main .carousel-indicators li { background: transparent; border: 0; border-radius: 0; cursor: pointer; }
#slider-main .carousel-indicators li { height: 50px; margin: 2px 5px; text-indent: inherit; width: auto; padding: 5px; }
#slider-main .carousel-indicators li:hover { margin: 0 3px; border: 2px solid #ff7c2e; background: #ff7c2e; }
#slider-main .carousel-indicators .active { height: 50px; width: auto; margin: 0 3px; border: 2px solid white; background-color: transparent; }
#slider-main .carousel-indicators .active:hover { border-color: #ff7c2e; }
#slider-main .carousel-indicators img { height: 36px; }

/* Slider: Our Culture */
#slider-culture .carousel-indicators,
#slider-culture .carousel-control { display: none; }
#slider-culture:hover .carousel-indicators,
#slider-culture:hover .carousel-control { display: block; }

/* Slider: Articles and Resources */
#slider-articles { margin-top: 110px; }
#slider-articles .carousel-caption { padding-bottom: 40px; left: 40px; right: 40%; }
#slider-articles .carousel-caption a { color: white; }
#slider-articles .carousel-caption a:hover { color: white; }
#slider-articles .carousel-caption a:before { background-color: white; bottom: 4px; }
#slider-articles .carousel-control { display: none; }

/* Slider: Partners */
#slider-partners .carousel-inner { max-width: 800px; margin: 40px auto; }
#slider-partners .carousel-control { height: 20px; width: 20px; top: 500px; bottom: auto; }
#slider-partners .carousel-control.right,
#slider-partners .carousel-control.left { color: orange; text-shadow: 0 0 0; }
#slider-partners .carousel-control .glyphicon-chevron-left,
#slider-partners .carousel-control .glyphicon-chevron-right,
#slider-partners .carousel-control .icon-next,
#slider-partners .carousel-control .icon-prev { margin: 0; left: 0; top: 0; }

#slider-partners .carousel-indicators { position: relative; left: 10%; right: 10%; width: 80%; }
#slider-partners .carousel-indicators { margin-left: 0; bottom: auto; top: 0; margin-bottom: 0; }
#slider-partners .carousel-indicators li { background: transparent; border: 0; border-radius: 0; cursor: pointer; }
#slider-partners .carousel-indicators li { height: auto; text-indent: inherit; width: auto; margin: 5px 10px; padding: 4px; }
#slider-partners .carousel-indicators li img { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
#slider-partners .carousel-indicators li:hover img { -webkit-filter: grayscale(0); filter: grayscale(0); }
#slider-partners .carousel-indicators .active { border: 2px solid #ff7c2e; padding: 2px; }
#slider-partners .carousel-indicators .active img { -webkit-filter: grayscale(0); filter: grayscale(0); }
#slider-partners .carousel-indicators img { height: 60px; background: white; padding: 5px; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); }
#slider-partners .item img { margin-top: 10px; padding: 15px; background: white;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1); }

/* Scroll Down */
.icon-down { transform: translate(0, -50%); -webkit-transform: translate(0, -50%); z-index: 10; }
.icon-down { position: absolute; bottom: 20px; color: white; font-size: 32px; left: 50%; }
.icon-down a { color: white; opacity: 0.5; }
.icon-down a:hover { color: white; opacity: 1; }

/* Banner */
.banner { background-position: center;  background-color: black; position: relative; overflow: hidden; }
.banner { text-align: center; text-align: center; display: block; padding: 80px 0; color: white; }
.banner h4 { margin-bottom: 0; }
.banner hr { width: 100px; }
.banner a { color: white; }
.banner a:hover { color: white; opacity: 0.6; }
.banner .container { position: relative; z-index: 20; }
.banner .bg-video { width: 100%; height: 100%; top: 0; left: 0; position: fixed; }
.banner .bg-video video { min-width: 100%; min-height: 100%; }
.banner .banner-overlay { position: absolute; width: 100%; height: 100%; z-index: 10; top: 0; }
.banner .banner-overlay.dark { background-color: rgba(0,0,0,0.4); }
.banner .banner-overlay.light { background-color: rgba(255,255,255,0.4); }

/* Banner: Conditions */
.fixed 					.banner { margin-top: 100px; }
.about-us 				.banner { padding: 140px 0; z-index: -1; }
.history 				.banner { padding: 0; }
.leadership 			.banner { background-image: url(../images/banners/about-us.jpg); }
.contact-us 			.banner { background-image: url(../images/banners/contact-us.jpg); }
.our-customers 			.banner { background-image: url(../images/banners/our-customers.jpg); }
.our-solutions 			.banner { background-image: url(../images/banners/our-solutions.jpg); }
.articles-and-resources .banner { background-image: url(../images/banners/articles-and-resources.jpg); }
.story-page				.banner { background-image: url(../images/banners/story-page.jpg); }
.story-page				.banner { background-attachment: fixed; padding: 140px 0; }

/* Image Switcher */
.img-switcher { position: relative; }
.img-switcher .img-ov { opacity: 0; position: absolute; top: 0; left: 0; }
.img-switcher:hover .img-ov { opacity: 1; }
.img-switcher:hover .img-on { opacity: 0; }

/* Core Values */
.values img { max-width: 200px; margin: 0 auto 30px; }
.values .img-on { padding: 10px; }
.values .img-switcher .img-ov { transform: translate(-50%, 0); padding: 0; }
.values .img-switcher .img-ov { -webkit-transform: translate(-50%, 0); left: 50%; }

/* Introduction */
.introduction { position: relative; }
.introduction #intro { position: absolute; top: -90px; }

/* Stats and Facts */
.stats .media-left { min-width: 70px; text-align: center; }

/* Cores */
.core-details { padding-left: 30px; padding-right: 30px; }
.core-details .media { padding-top: 40px; }
.core-details .media-left { padding-right: 40px; }
.core-holder { margin-bottom: 20px; position: relative; border-radius: 50%; overflow: hidden; z-index: 2; }

.core-holder .core-name { position: absolute; text-align: center; height: 100%; padding-top: 40px; left: 0; }
.core-holder .core-name { width: 100%; z-index: 1; background: rgba(0,0,0,0.5); opacity: 0; color: white; }
.core-holder a:hover .core-name { opacity: 1; }

.core-holder a img.on { opacity: 1; }
.core-holder a img.off { position: absolute; top: 0; opacity: 0; }
.core-holder a.collapsed img.on { opacity: 0; }
.core-holder a.collapsed img.off { position: absolute; top: 0; opacity: 1; }
.core-holder a:hover img.on { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
.core-holder a.collapsed:hover img.off { -webkit-filter: grayscale(100%); filter: grayscale(100%); }

/* Members */
.members .card { margin-top: 50px; }
.members img { max-width: 140px; margin-top: -70px; margin-left: auto; margin-right: auto; }
.members p { font-size: 14px; line-height: 22px; }
.members .divider { margin: 0 5px; }
.members .btn { width: 100%; }
.members .btn.collapsed { background: #00a5d8; color: white; border-color: #00a5d8; }
.members .social-media { margin-bottom: 10px; }
.members .social-media li { margin: 0 5px; font-size: 24px; line-height: normal; }
.members .social-media li:before a { visibility: hidden; }
.members .ceo img { max-width: 160px; margin-top: -70px; margin-left: auto; margin-right: auto; }
.members .column { /*margin-bottom: 40px;*/ }
.members .img-circle {
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); }

.members .card-block a:hover { color: #00a5d8; }
.members .card-block a:before { background-color: #00a5d8; }
.members .card-block a.btn:hover:before { visibility: hidden; }

/* Form Item Button */
.form-item { position: relative; }
.form-item input { display: inline-block; font-weight: 300; height: 40px; }
.form-item label { display: inline-block; font-weight: 300; }
.form-item label { background: #fff; color: #999; padding: 0 2px; pointer-events: none; position: absolute; }
.form-item label { top: 14px; left: 10px; font-size: 14px; line-height: 22px; }
.form-textarea label { top: 8px; left: 10px; font-size: 14px; line-height: 22px; }

.form-item input { border: 1px solid #999; border-radius: 3px; color: #222; margin-top: 5px; padding: 6px 15px; }
.form-item input:valid + label,
.form-item input:focus + label { color: #999; }
.form-item input:focus { border-color: #06f; box-shadow: 0 0 0; outline: medium none; }
.form-item input:focus + label { color: #06f; }

.form-item select { border: 1px solid #999; border-radius: 3px; color: #222; margin-top: 5px; padding: 6px 15px; }
.form-item select:valid + label,
.form-item select:focus + label { color: #999; }
.form-item select:focus { border-color: #06f; box-shadow: 0 0 0; outline: medium none; }
.form-item select:focus + label { color: #06f; }

.form-item textarea { border: 1px solid #999; border-radius: 3px; color: #222; margin-top: 5px; padding: 6px 15px; }
.form-item textarea:valid + label,
.form-item textarea:focus + label { color: #999; }
.form-item textarea:focus { border-color: #06f; box-shadow: 0 0 0; outline: medium none; }
.form-item textarea:focus + label { color: #06f; }

/* Tabs */
.tab-pane { padding: 30px 0; }

/* Dropdown: Menu */
.dropdown-menu a:before { visibility: hidden !important; }

/* Map */
.map { width: 100%; height: 450px; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); }
.map iframe { width: 100%; height: 100%; }
.map .tab-pane { padding: 0; height: 100%; }

/* Google reCaptcha */
.g-recaptcha { width: 304px; height: 78px; margin: 10px auto; }

/* Masonry */
.grid-item .logo-item { margin: 5px 5px 5px 5px; }
.grid-item .img-responsive { width: 100% !important; }

.our-customers .grid-sizer,
.our-customers .grid-item { width: 33.33%; }
.our-customers .grid-item--width2 { width: 66.66%; }
.our-customers .grid .logo-item { margin: 5px 5px 5px 5px; }
.our-customers .grid .img-responsive { width: 100% !important; }

.list-solutions li { max-width: 60px; }
.list-customers { padding: 0; }
.list-customers li { display: inline-block; margin: 10px; }
.list-customers li img { max-height: 150px; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); 
	-webkit-filter: grayscale(100%); filter: gray; }
.list-customers li img:hover { -webkit-filter: grayscale(0%); filter: none; }
.list-customers a:hover:before { visibility: hidden !important; }

/* Story Page */
.story-page .deepnav { margin-top: 110px; }

/* Newsroom */
.newsroom .deepnav { margin-top: 110px; }
.newsroom #slider-articles { margin-top: 0; }

/* Article */
.article .deepnav { margin-top: 110px; }
.article #slider-articles { margin-top: 0; }

/* Resources */
.resources .deepnav { margin-top: 110px; }
.resources #slider-articles { margin-top: 0; }

/* GSC Blog */
.blog .deepnav { margin-top: 110px; }
.blog #slider-articles { margin-top: 0; }

/* Solutions */
.solutions .flip { margin-bottom: 30px; }
.solutions .card { text-align: center; min-height: 240px; }
.solutions .card p { font-size: 14px; line-height: 22px; }
.solutions .card .back { background: #00a5d8; color: white; min-height: 240px; }
.solutions .card .back img { margin-bottom: 20px; }
.solutions .card .front { background: white; }
.solutions .card .front img { /*width: 100%;*/ }
.solutions .card .btn-default:hover { color: white; border-color: white; }

/* Deep Navigation */
.deepnav { background: #00a5d8; padding: 15px 0; }
.deepnav ul { text-align: center; margin: 0; padding: 0; }
.deepnav li { display: inline-block; margin: 0 10px; color: white; }
.deepnav li a { color: white; }
.deepnav li a:before {  background-color: #FFF; }
.deepnav li.active a { font-weight: bold; }

/* Accordion */
.panel-default > .panel-heading { border: 0; color: white; padding: 0; }
.panel-default > .panel-heading h4 { margin-bottom: 0; }
.panel-default > .panel-heading a { display: block; padding: 10px 20px; background: #ff7c2e; color: white; }
.panel-default > .panel-heading a:focus { color: white; }
.panel-default > .panel-heading a:hover { color: white; background: #00a5d8; }
.panel-default > .panel-heading a:before { display: none; }
.panel-default > .panel-heading a.collapsed { color: white; background: #0083cc; }
.panel-default > .panel-heading a.collapsed:hover { background: #00a5d8; }
.panel-group .panel + .panel { margin-top: 10px; }

/* Table: Internship */
.table-internship img { max-width: 140px; }

.table.table-internship td { padding: 20px 10px; }
.table.table-internship tr { border: 1px solid white; cursor: pointer; }
.table.table-internship tr:hover td { border-bottom: 1px solid #00a5d8; border-top: 1px solid #00a5d8; }
.table-hover > tbody > tr:hover { border: 1px solid #00a5d8; margin: 0;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,131,204,0.5);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,131,204,0.5);
	box-shadow: 0px 0px 10px 0px rgba(0,131,204,0.5); }	

/* Articles and Resources */
.articles-and-resources .card-holder { width: 240px; margin-bottom: 15px; }
.articles-and-resources .card-block a { color: black; }
.articles-and-resources .card-block a:hover { color: #ff7c2e; }
.articles-and-resources .card-block a:before { background: #ff7c2e; }
.articles-and-resources .blog-item { margin-bottom: 10px; padding-bottom: 5px; }

/* Modal: Customized */
.modal {}
.modal-backdrop { background-color: #FFF; }
.modal-backdrop.in { opacity: 0.75; }
.modal-header { border-bottom: 0 solid #e5e5e5; background-color: #00a5d8; color: white; }
.modal-content { box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); }
.modal-content { border: 2px solid rgba(0, 165, 216, 1); }

/* Share Section */
.share-section { padding: 10px; }

/* Figure */
figure { border: 1px solid #DDD; display: inline-block; }
figure.pull-left { margin: 0 25px 20px 0; }
figure.pull-right { margin: 0 0 25px 20px; }
figure figcaption { padding: 5px 10px; position: relative; }
figcaption .sub-caption { font-style: italic; text-align: right; margin-bottom: 5px; }

/* Author */
.author .media-object { max-width: 80px; margin-right: 10px; }
.author .social-media a:before { display: none; }

/* Tags Area */
.tags-area { padding: 20px 0; margin-bottom: 20px; }
.tags-area a { background-color: #EEE; padding: 5px 10px; border-radius: 4px; }
.tags-area a { font-size: 14px; color: black; line-height: normal; margin-left: 4px; }
.tags-area a:hover { background-color: #CCC; }
.tags-area .fa { font-size: 20px; }

/* Related Articles */
.related-articles { padding: 20px 0; margin-bottom: 20px; }

/* List: Partners */
.list-partners { margin: 0 auto; max-width: 320px; padding: 0 20px; }
.list-partners img { background: white; padding: 15px; margin-bottom: 20px; 
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2); }
.list-partners .column { margin-bottom: 50px; }